body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #004aad, #00c6ff);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* MAIN CONTAINER */
.portal-container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* INPUT */
.input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background: #004aad;
    color: white;
    font-size: 15px;
}

button:hover {
    transform: scale(1.03);
}

/* TABLE */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

/* OPTIONS */
.option-btn {
    width: 90%;
    margin: 6px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #004aad;
    color: white;
}
