body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #004aad, #00c6ff);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* MAIN CARD */
.portal-container {
    width: 95%;
    max-width: 420px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

/* HEADINGS */
h2 {
    margin-bottom: 10px;
}

/* INPUTS */
.input {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* BUTTONS */
button {
    width: 95%;
    padding: 13px;
    margin: 10px 0;
    border-radius: 12px;
    border: none;
    background: #004aad;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.04);
}

/* PORTAL BUTTON SPECIAL */
.portal-buttons button {
    background: #ffcc00;
    color: black;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    background: #004aad;
    color: white;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

/* QUIZ OPTIONS */
.option-btn {
    width: 95%;
    margin: 6px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #004aad;
    color: white;
}

/* SMALL TEXT */
p {
    font-size: 14px;
}

/* RESPONSIVE FIX */
@media (max-width: 500px) {
    .portal-container {
        padding: 15px;
    }
}
.logo {
    width: 60px;
    display: block;
    margin: 0 auto 10px;
}
.portal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HERO CENTER */
.hero {
    text-align: center;
    padding: 40px 20px;
}

/* WHITE CURVED CARD */
.hero-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

/* TEXT */
.hero-card h1 {
    color: #004aad;
}

.tagline {
    font-size: 16px;
    margin: 10px 0;
}

/* BUTTON */
.main-btn {
    padding: 12px 25px;
    margin-top: 15px;
    border-radius: 25px;
    background: #004aad;
    color: white;
    border: none;
}

/* FEATURES */
.features {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    width: 90%;
    max-width: 300px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
